

.txtRecolor {
    color: #5F002B;
}

.nav-link {
    color: #5F002B;
    font-weight: bold;
}

.homeBg {
    background-color: white;
}

.rResize {
    margin-top: 5em;
}

.homeResize {
    margin-left: 1em;
    margin-right: 1em;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../images/homeHero.jpg");

    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.margin{
    margin-top: 6rem;
    margin-bottom: 6rem;
 }
 .vertical{
    display: Flex;
    flex-direction: column;
 }

.right{
    justify-content:right;
}

.text-left{
    text-align: left;
    background-color: white;
}

